/* CSS Reset */
body {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

fieldset {
  border: none;
}

input,
button,
textarea {
  border: none;
  outline: none;
  background: transparent;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}
